/*-----------------------------------Backgrounds and Breaks*/

.bg-standard {
    background-color: #303030;
}

.bg-standard-3tone {
    background: linear-gradient(#303030, #000000, #303030);
}

.bg-black-opacity {
    background-color: rgba(48, 48, 48, 0.7);
}

.section-break {
    width: 50%;
}

.white-section-break {
    border-color: #fafafa;
}

.none-section-break {
    border-color: transparent;
}

/*-----------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*-----------------------------------Body*/

body {
    color: #fafafa;
    background-color: #303030;
}


/*-----------------------------------Nav Bar*/

.nav-menu-bar {
    height: 60px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.nav-btn {
    -webkit-box-shadow: 0px 0px 1px 1px rgba(192, 192, 192, 1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(192, 192, 192, 1);
    box-shadow: 0px 0px 1px 1px rgba(192, 192, 192, 1);
}

.nav-btn i {
    color: #fafafa;
    font-size: 25px;
}

.nav-btn-pos {
    padding-right: 5px;
}

.nav-menu-bar a {
    font-size: 18px;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    background-color: #303030;
    padding-left: 15px;
}

.nav-menu-bar ul a {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    padding-top: 30px;
}

.nav-menu-bar ul {
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #303030;
}

.nav-menu-bar ul a i {
    padding-left: 5px;
}

/*-----------------------------------Main Page - Promo Bar*/

.promo-bar {
    margin: 0;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}


/*-----------------------------------Main Page - Header*/

.home-menu-image {
    margin-top: 60px;
    height: 80px;
    background: url("../images/joeparispt_navbar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0px -2px 10px -2px rgba(250, 250, 250, 1);
    -moz-box-shadow: inset 0px -2px 10px -2px rgba(250, 250, 250, 1);
    box-shadow: inset 0px -2px 10px -2px rgba(250, 250, 250, 1);
}

.home-article {
    margin: 0;
    background: linear-gradient(#000000, #303030);
}

.home-article h1 {
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}

.home-article h2 {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}

.home-article p {
    font-size: 12px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

/*-----------------------------------Main Page - Header Images*/

.home-img {
    padding-left: 2px;
    padding-right: 2px;
}

.home-article .home-img-text p {
    font-size: 9px;
    text-align: center;
    letter-spacing: 1px;
}

.home-img-mob {
    margin-bottom: 30px;
    border-radius: 9px;
    -ms-transform: matrix(1, 0.1, 0.1, 1, 0, 5);
    -webkit-transform: matrix(1, 0.1, 0.1, 1, 0, 5);
    -moz-transform: matrix(1, 0.1, 0.1, 1, 0, 5);
    transform: matrix(1, 0.1, 0.1, 1, 0, 5);
    -ms-box-shadow: -8px 8px 20px 5px rgba(192, 192, 192, 0.55);
    -webkit-box-shadow: -8px 8px 20px 5px rgba(192, 192, 192, 0.55);
    -moz-box-shadow: -8px 8px 20px 5px rgba(192, 192, 192, 0.55);
    box-shadow: -8px 8px 20px 5px rgba(192, 192, 192, 0.55);
}

.home-img-1 {
    border-radius: 3px;
    -ms-box-shadow: -8px 8px 20px 5px rgba(192, 192, 192, 0.55);
    -webkit-box-shadow: -8px 8px 20px 5px rgba(192, 192, 192, 0.55);
    -moz-box-shadow: 3px 3px 12px 3px rgba(192, 192, 192, 0.55);
    box-shadow: 3px 3px 12px 3px rgba(192, 192, 192, 0.55);
}

.home-img-2 {
    width: 90%;
    border-radius: 6px;
    -ms-box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
    -webkit-box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
    -moz-box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
    box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
}

.home-img-3 {
    width: 80%;
    border-radius: 9px;
    -ms-box-shadow: 8px 8px 25px 5px rgba(192, 192, 192, 0.55);
    -webkit-box-shadow: 8px 8px 25px 5px rgba(192, 192, 192, 0.55);
    -moz-box-shadow: 8px 8px 25px 5px rgba(192, 192, 192, 0.55);
    box-shadow: 8px 8px 25px 5px rgba(192, 192, 192, 0.55);
}

.home-img-4 {
    width: 90%;
    border-radius: 6px;
    -ms-box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
    -webkit-box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
    -moz-box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
    box-shadow: 5px 5px 18px 4px rgba(192, 192, 192, 0.55);
}

.home-img-5 {
    border-radius: 3px;
    -ms-box-shadow: 3px 3px 12px 3px rgba(192, 192, 192, 0.55);
    -webkit-box-shadow: 3px 3px 12px 3px rgba(192, 192, 192, 0.55);
    -moz-box-shadow: 3px 3px 12px 3px rgba(192, 192, 192, 0.55);
    box-shadow: 3px 3px 12px 3px rgba(192, 192, 192, 0.55);
}

.home-article .home-img-text1 {
    font-family: 'PT Sans', sans-serif;
    -ms-transform: matrix(1, 0, -1, 2.5, 25, -40);
    -webkit-transform: matrix(1, 0, -1, 2.5, 25, -40);
    -mox-transform: matrix(1, 0, -1, 2.5, 25, -40);
    transform: matrix(1, 0, -1, 2.5, 25, -40);
    /*matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())*/
}

.home-article .home-img-text2 {
    font-family: 'PT Sans', sans-serif;
    -ms-transform: matrix(1, 0, -1, 2.5, 0, -20);
    -webkit-transform: matrix(1, 0, -1, 2.5, 0, -20);
    -moz-transform: matrix(1, 0, -1, 2.5, 0, -20);
    transform: matrix(1, 0, -1, 2.5, 0, -20);
}

.home-article .home-img-text3 {
    font-family: 'PT Sans', sans-serif;
    -ms-transform: matrix(1, 0, -1, 2.5, -25, -40);
    -webkit-transform: matrix(1, 0, -1, 2.5, -25, -40);
    -mox-transform: matrix(1, 0, -1, 2.5, -25, -40);
    transform: matrix(1, 0, -1, 2.5, -25, -40);
}


/*-----------------------------------Main Page - Bio*/

.home-bio {
    background: url("../images/joeparispt_mainpage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.home-bio h2 {
    font-size: 22px;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    padding-top: 30px;
}

.home-bio img {
    margin: auto 0;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #fafafa;
}

.home-bio h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}

.home-bio p {
    font-size: 10px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

/*-----------------------------------Main Page - Before/After*/

.home-beforeafter {
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;
    background: linear-gradient(#000000, #303030);
}

.home-beforeafter img {
    margin-top: 20px;
    border: solid;
    border-width: 3px;
    border-color: #fafafa;
}

.home-beforeafter h4 {
    padding-top: 20px;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
}

.home-beforeafter p {
    padding-top: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

/*-----------------------------------Training & Diet Plans Page - Content*/

.trainingplan-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.trainingplan-section h1 {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}

.trainingplan-section h2 {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}

.trainingplan-section p {
    padding-top: 10px;
    font-size: 10px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.trainingplan-section ul li {
    font-size: 10px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.trainingplan-options {}

.trainingplan-options a {
    color: #fafafa;
    text-decoration: none;
}

.trainingplan-options img {

    border: solid;
    border-width: 3px;
    border-color: #fafafa;
}

.trainingplan-options ul i {
    padding-right: 5px;
    padding-left: 15px;
    color: #bce1ff;
}

/*-----------------------------------Blog - Content*/

.blog-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-section h1 {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}

.blog-section h2 {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}

.blog-section p {
    padding-top: 10px;
    font-size: 10px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.blog-section a {
    color: #fafafa;
    text-decoration: none;
}

.blog-section img {
    border: solid;
    border-width: 3px;
    border-color: #fafafa;
}

/*-----------------------------------Contact Page - Content*/

.contact-bg-img {
    padding: 0;
    margin: 0;
    background: url("../images/joeparispt_mainpage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.contact-form {
    margin-top: 50px;
    margin-bottom: 50px;
}

form .contact-gender{
    padding-left: 20px;
}

form .contact-location {
    padding-top: 15px;
}

form .contact-btn {
    padding-top: 25px;
    padding-left: 5px;
}

/*-----------------------------------Thanks - Content*/

.thanks-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.thanks-section p,
.thanks-section a {
    color: #fafafa;
    font-size: 12px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

/*-----------------------------------Footer*/

.footer-main {
    padding-bottom: 50px;
    background: #000000;
}

.footer-breaker {
    background-color: #00213b;
}

.footer-promo {
    padding: 10px;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
    color: #bce1ff;
}

.footer-breaker a button {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 35px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #bce1ff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.footer-breaker a button:hover {
    background: #bce1ff;
    color: #00213b;
}


.footer-main h6 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.footer-main p {
    padding-bottom: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.footer-main a i {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.footer-main a i:hover {
    color: #1277b7;
}

.cv-icon {
    padding-left: 10px;
}

.social-icons {
    padding-top: 50px;
}

/*-----------------------------------Effects*/

.pulse {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
    -webkit-animation: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
    75% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
    }
    75% {
        -webkit-transform: scale(0.99);
        -ms-transform: scale(0.99);
        transform: scale(0.99);
    }
}

/*-----------------------------------Responsive design*/

@media (max-width: 576px) {
    .home-bio {
        -ms-box-shadow: inset 0px 30px 35px -1px rgba(48, 48, 48, 1);
        -webkit-box-shadow: inset 0px 30px 35px -1px rgba(48, 48, 48, 1);
        -moz-box-shadow: inset 0px 30px 35px -1px rgba(48, 48, 48, 1);
        box-shadow: inset 0px 30px 35px -1px rgba(48, 48, 48, 1);
    }
    .home-beforeafter {
        -ms-box-shadow: 0px -22px 54px 35px rgba(48, 48, 48, 1);
        -webkit-box-shadow: 0px -22px 54px 35px rgba(48, 48, 48, 1);
        -moz-box-shadow: 0px -22px 54px 35px rgba(48, 48, 48, 1);
        box-shadow: 0px -22px 54px 35px rgba(48, 48, 48, 1);
    }
    .home-beforeafter {
        background: linear-gradient(#303030, #000000, #303030);
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .nav-menu-bar a {
        font-size: 22px;
    }
    .nav-menu-bar ul a {
        font-size: 20px;
        font-weight: 300;
    }
    .home-menu-image {
        height: 80px;
    }
    .home-article {
        background: linear-gradient(#303030, #000000);
    }
    .promo-bar {
        font-size: 8px;
    }
    .home-article h1,
    .home-bio h2,
    .trainingplan-section h1,
    .blog-section h1 {
        font-size: 26px;
    }
    .home-article h2,
    .home-bio h3,
    .trainingplan-section h2,
    .blog-section h2 {
        font-size: 22px;
    }

    .home-bio p,
    .home-article p,
    .trainingplan-section ul li,
    .trainingplan-section p,
    .blog-section p,
    .thanks-section p,
    .thanks-section a {
        font-size: 14px;
        font-weight: 300;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-menu-bar a {
        font-size: 22px;
    }
    .nav-menu-bar ul a {
        font-size: 20px;
    }
    .home-menu-image {
        height: 120px;
    }
    .home-article {
        background: linear-gradient(#303030, #000000);
    }
    .home-article h1,
    .home-bio h2,
    .trainingplan-section h1,
    .blog-section h1 {
        font-size: 32px;
        font-weight: 700;
    }
    .home-article h2,
    .home-bio h3,
    .trainingplan-section h2,
    .blog-section h2 {
        font-size: 26px;
        font-weight: 500;
    }

    .home-bio p,
    .home-article p,
    .trainingplan-section ul li,
    .trainingplan-section p,
    .blog-section p,
    .thanks-section p,
    .thanks-section a {
        font-size: 16px;
        font-weight: 400;
    }
    .home-article .home-img-text p {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .nav-menu-bar ul {
        padding-bottom: 0;
    }
    .nav-menu-bar ul a {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        font-style: normal;
        letter-spacing: 0;
    }
    .nav-menu-bar a {
        font-size: 22px;
    }
    .home-menu-image {
        height: 120px;
    }
    .home-article {
        background: linear-gradient(#303030, #000000);
    }
    .promo-bar {
        font-size: 16px;
    }
    .home-article h1,
    .home-bio h2,
    .trainingplan-section h1,
    .blog-section h1 {
        font-size: 38px;
        font-weight: 800;
    }
    .home-article h2,
    .home-bio h3,
    .trainingplan-section h2,
    .blog-section h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .home-bio p,
    .home-article p,
    .trainingplan-section ul li,
    .trainingplan-section p,
    .blog-section p,
    .thanks-section p,
    .thanks-section a {
        font-size: 20px;
        font-weight: 500;
    }
    .home-article .home-img-text p {
        font-size: 15px;
    }
}

/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif; 

Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
Extra large devices (large desktops, 1200px and up) */
