/*

Bootstrap Breakpoints


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Oxygen:100,200,300,400,500,600,700');

/*------------------------------------Colors*/

.ui-menu-color-home {}

.ui-menu-color-joe {}

.ui-menu-color-plans {}

.ui-menu-color-contact {}

/*------------------------------------Main*/

body {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    color: #000000;
    background-color: #000000;
}

/*------------------------------------Heading*/

.logo {
    background: url("../images/joeparis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}


/*------------------------------------Nav Bar*/

.navbar-item {
    background: rgba(50, 175, 50);
    height: 55px;
    text-align: center;
    padding: 0;
    margin: 0;
    border-width: medium;
    border: solid;
    border-color: #000000;
}
/*
.navbar-item:hover {
    animation-name: pulsing;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
*/
.navbar-item a {
    width: 100%;
    text-decoration: none;
    height: 55px;
    color: #000000;
}

.navbar-item a i {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

.navbar-item span {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 10px;
}



@keyframes pulsing {
    from {
        background: rgb(75, 235, 70);
    }

    to {
        background: rgba(50, 175, 50);
    }
}
